<% include ../partials/header %>

<% if (alert.length > 0) { %>
    <div class="alert alert-success success-alert " role="alert">
        <span class="mr-15"><%= alert %></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<div class="container pt-100">
<div class="row">
    <div class="col-md-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"><a href="/">Addresses</a></th>
                <!--<th scope="col">First</th>-->
                <!--<th scope="col">Last</th>-->
                <!--<th scope="col">Handle</th>-->
            </tr>
            </thead>

            <tbody>
            <tr>
                <th scope="row"><a href="/customers">Customers</a></th>
                <!--<td>Mark</td>-->
                <!--<td>Otto</td>-->
                <!--<td>@mdo</td>-->
            </tr>
            <tr>
                <th scope="row"><a href="/customersstaffs">Customersstaffs</a></th>
                <!--<td>Jacob</td>-->
                <!--<td>Thornton</td>-->
                <!--<td>@fat</td>-->
            </tr>
            <tr>
                <th scope="row"><a href="/customersstaffsinventories">Customersstaffsinventories</a></th>
                <!--<td>Larry</td>-->
                <!--<td>the Bird</td>-->
                <!--<td>@twitter</td>-->
            </tr>
            <tr>
                <th scope="row"><a href="/genders">Genders</a></th>
                <!--<td>Larry</td>-->
                <!--<td>the Bird</td>-->
                <!--<td>@twitter</td>-->
            </tr>
            <tr>
                <th scope="row"><a href="/inventories">Inventories</a></th>
                <!--<td>Larry</td>-->
                <!--<td>the Bird</td>-->
                <!--<td>@twitter</td>-->
            </tr>
            <tr>
                <th scope="row"><a href="/manufacturers">Manufacturers</a></th>
                <!--<td>Larry</td>-->
                <!--<td>the Bird</td>-->
                <!--<td>@twitter</td>-->
            </tr>
            <tr>
                <th scope="row" class="active"><a href="/staffs">Staffs</a></th>
                <!--<td>Larry</td>-->
                <!--<td>the Bird</td>-->
                <!--<td>@twitter</td>-->
            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-9 ofx-s">
        <h5><%= results[1][0].count %> Rows</h5>
        <table class="table">
            <!--<thead>-->
            <!--<tr>-->
                <!--<th scope="col">#</th>-->
                <!--<th scope="col">First</th>-->
                <!--<th scope="col">Last</th>-->
                <!--<th scope="col">Handle</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">DOB</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Gender Id</th>
                <th scope="col">Address Id</th>
                <th scope="col">Date Created</th>
                <th scope="col">Date Edited</th>
                <% if (req.user.level == 1) { %>
                    <th scope="col"><a href="/staffs/new" class="btn btn-outline-secondary">Create</a></th>
                <% } %>

            </tr>
            </thead>
            <tbody>
            <% for(var i=0; i < results[0].length; i++) { %>
                <tr>
                    <td><%= results[0][i].id %></td>
                    <td><%= results[0][i].first_name %></td>
                    <td><%= results[0][i].last_name %></td>
                    <td><%= results[0][i].age %></td>
                    <td><%= results[0][i].dob %></td>
                    <td><%= results[0][i].email %></td>
                    <td><%= results[0][i].phone_number %></td>
                    <td><%= results[0][i].gender_id %></td>
                    <td><%= results[0][i].address_id %></td>
                    <td><%= results[0][i].date_created %></td>
                    <td><%= results[0][i].date_edited %></td>
                    <% if (req.user.level == 1) { %>
                        <td>
                            <a href="/staffs/<%= results[0][i].id %>/edit" class="btn btn-outline-secondary">Edit</a>
                        </td>
                        <td>
                            <form action="/staffs/<%= results[0][i].id %>?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-outline-secondary">Delete</button>
                            </form>
                        </td>
                    <% } %>
                </tr>



            <% } %>


            </tbody>
        </table>


    </div>
</div>


</div>


<% include ../partials/footer %>